<div class="row">
    <div class="offset-11 col-1 d-flex flex-row-reverse ">
        <button class="fix-button" mat-icon-button (click)="close()">
      <mat-icon style="line-height: 23px;">cancel</mat-icon>
  </button>
    </div>
</div>

<mat-card>
    <form class="parent-form" name="form" novalidate (ngSubmit)="f.form.valid && updateCow()" #f="ngForm">

        <div class="row">
            <mat-form-field class="input-fluid" appearance="outline">
                <mat-label>Tình trạng</mat-label>
                <mat-select [(ngModel)]="sourceView.status" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let stat of statusArray " [value]="stat">{{stat}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button class="btn btn-outline-success" type="submit" style="margin: 6px 8px 26px;">
     Cập nhật
</button>
        </div>

    </form>
</mat-card>