<div class="row">
    <div class="offset-11 col-1 d-flex flex-row-reverse " style="top: -15px">
        <button class="fix-button" mat-icon-button (click)="close()">
          <mat-icon style="line-height: 23px;">cancel</mat-icon>
      </button>
    </div>
</div>

<mat-card-title class="card-header text-center">
    Chi tiết lịch sử cho ăn
</mat-card-title>

<div class="detail-list">
    <mat-paginator [pageSizeOptions]="[10,20,50]"></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="foodName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên thức ăn</th>
            <td mat-cell *matCellDef="let detail">{{detail.foodName}}</td>
        </ng-container>

        <ng-container matColumnDef="foodType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Loại thức ăn</th>
            <td mat-cell *matCellDef="let detail">{{detail.foodType}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef width="5%" mat-sort-header>Số lượng</th>
            <td mat-cell *matCellDef="let detail">{{detail.quantity}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky:true"></tr>
        <tr mat-row class="table-row" *matRowDef="let farmer; columns: displayedColumns;">
        </tr>
    </table>
</div>