@import '../../../../shared/css/table.component.scss';
.user-list {
    padding-left: 10px;
    max-height: fit-content;
    padding-right: 10px;
}

.test {
    justify-content: center;
    padding-left: 10px;
}
