<div class="containter">
    <div class="form-setting">
        <div class="user-filter">
            <mat-form-field class="example-form-field">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" type="text" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
            </mat-form-field>
        </div>
        <div class="user-button">
            <button mat-raised-button color="primary" (click)="createCoupon()">Thêm phiếu sữa</button>
        </div>
    </div>
    <div class="user-list">
        <mat-paginator [pageSizeOptions]="[10,20,50]">
        </mat-paginator>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="farmer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã nông dân</th>
                <td mat-cell *matCellDef="let coupon">{{coupon.farmerId}}</td>
            </ng-container>

            <ng-container matColumnDef="employee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã nhân viên</th>
                <td mat-cell *matCellDef="let coupon">{{coupon.employeeId}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef width="7%"></th>
                <td mat-cell *matCellDef="let coupon" (click)="$event.stopPropagation()">
                    <button mat-button><mat-icon>delete</mat-icon></button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky:true"></tr>
            <tr mat-row class="table-row" *matRowDef="let coupon columns: displayedColumns;" (click)="viewDetail(coupon)">
            </tr>
        </table>
    </div>