<div class="containter">
    <div class="row">
        <div class="col-md-">
            <div class="user-filter">
                <mat-form-field appearance="outline" style="padding: 0 !important;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Lọc">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="col-md-">
            <div class="user-button">
                <button mat-raised-button color="primary" (click)="createEmployee()">Thêm nhân viên</button>
            </div>
        </div> -->
    </div>
  </div>
<div class="employee-list">
  <mat-paginator [pageSizeOptions]="[10,20,50]"></mat-paginator>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
      <td mat-cell *matCellDef="let employee">{{employee.fullName}}</td>
    </ng-container>
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tài khoản được liên kết</th>
      <td mat-cell *matCellDef="let employee">
        <div *ngIf="employee.user" class="text-success font-weight-bold">
          {{employee.user.userName}}
        </div>
        <div class="text-danger" *ngIf="!employee.user">
          N/A
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let employee">{{employee.email}}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Số điện thoại</th>
      <td mat-cell *matCellDef="let employee">{{employee.phoneNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="bank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngân hàng</th>
      <td mat-cell *matCellDef="let employee">{{employee.bank}}</td>
    </ng-container>

    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Số thẻ</th>
      <td mat-cell *matCellDef="let employee">{{employee.accountNumber}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="isBlock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
            <td mat-cell *matCellDef="let employee">
                <span *ngIf="employee.isBlock">Đang bị khóa</span>
                <span *ngIf="!employee.isBlock">Chưa khóa</span>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef width="3%"></th>
            <td mat-cell *matCellDef="let employee" (click)="$event.stopPropagation()">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editEmployee(employee)">
        <mat-icon>edit</mat-icon>
        <span>Chỉnh sửa</span>
      </button>
                    <button mat-menu-item>
        <mat-icon>add_circle</mat-icon>
        <span>Gán tài khoản</span>
      </button>

          <button mat-menu-item (click)="deleteEmployee(employee)">
            <mat-icon>delete</mat-icon>
            <span>Xóa</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky:true"></tr>
        <tr mat-row class="table-row" *matRowDef="let employee; columns: displayedColumns;" (click)="viewDetail(employee)">
        </tr>
    </table>
</div>
