@import '../../../../shared/css/table.component.scss';
.form-setting {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .user-filter {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: flex-end;
        .example-form-field {
            width: 200px;
        }
    }
    .create-user {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: flex-start;
    }
}

.farmer-list {
    padding-left: 35px;
    max-height: fit-content;
    padding-right: 35px;
}

.containter {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    .user-filter {
        width: 300px;
        height: 40px;
    }
    .user-button {
        position: absolute;
        right: 35px;
    }
}
