<div class="auth-form-center">
  <app-progress-bar-loader></app-progress-bar-loader>
  <div class="auth-form-header">
    <img src="../../../assets/images/logo.png" />
    <h4>{{'Create a new password' | translate}} </h4>
  </div>
  <div class="auth-form-body">
    <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="newPass()" class="form-row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="input-fluid">
          <mat-label>{{'New Password' | translate}}</mat-label>
          <input id="password" formControlName="password" matInput placeholder="{{'New Password' | translate}}" type="password">
          <mat-error *ngIf="password.hasError('required')">
            {{'New Password' | translate}} {{'is required'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-error class="text-primary"  *ngIf="newPasswordFail == 1">
          {{'NEWPASSWORD_TRUE'|translate}}
        </mat-error>
        <mat-error *ngIf="newPasswordFail == 2">
          {{'NEWPASSWORD_FAILED'|translate}}
        </mat-error>
        <div class="d-flex justify-content-between mt-4">
          <a routerLink="../signin">{{ 'Sign in' | translate}}</a>
          <button *ngIf="isClick == false" type="submit" class="btn btn-primary">{{'Update' | translate}}</button>
          <button *ngIf="isClick == true" class="btn btn-primary">
            {{'Checking' | translate}}
            <i class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>