<mat-progress-bar mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>
<div class="container-fluid">
  <form name="form" novalidate (ngSubmit)="f.form.valid && create()" #f="ngForm">
    <mat-card>
      <div class="row">
        <div class="col-lg-4">
          <h5 class="text-center">Thông tin chung</h5>
          <mat-label>Tên nhóm quyền</mat-label>
          <mat-form-field class="input-fluid" appearance="outline">
            <input placeholder="Nhập tên nhóm quyền" id="permissionName" [(ngModel)]="sourceView.name"
              name="permissionName" #permissionName="ngModel" matInput required>
          </mat-form-field>
          <mat-label>Miêu tả nhóm quyền</mat-label>
          <mat-form-field class="input-fluid" appearance="outline">
            <textarea style="min-height: 100px;" [(ngModel)]="sourceView.description" name="description"
              #description="ngModel" matInput placeholder="Nhập miêu tả nhóm quyền"></textarea>
          </mat-form-field>
          <div class="container">
            <h5 class="text-center">Quyền quản lý nông dân</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">
                    <mat-checkbox [(ngModel)]="sourceView.farmerPermission.canAccess" name="ordersMenu"
                      class="permission-item">
                      Cho phép truy cập
                    </mat-checkbox>
                  </th>
                  <td>
                    <mat-checkbox [(ngModel)]="sourceView.farmerPermission.canView" name="orderReportMenu"
                      class="permission-item">
                      Xem danh sách nông dân
                    </mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <mat-checkbox [(ngModel)]="sourceView.farmerPermission.canCreate" name="ordersMenu"
                      class="permission-item">
                      Tạo nông dân
                    </mat-checkbox>
                  </th>
                  <td>
                    <mat-checkbox [(ngModel)]="sourceView.farmerPermission.canEdit" name="createOrderMenu"
                      class="permission-item">
                      Chỉnh sửa nông dân
                    </mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <mat-checkbox [(ngModel)]="sourceView.farmerPermission.canDelete" name="billMenu"
                      class="permission-item">
                      Xóa nông dân
                    </mat-checkbox>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-8">
          <h5 class="text-center">Thêm người dùng vào nhóm quyền</h5>
          <div style="max-height: 80%; overflow: overlay;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="userLoaded">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef> Điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div style="margin:0 auto;text-align: center;">
        <button mat-raised-button class="btn btn-outline-success" type="submit" *ngIf="isCreate">
          <mat-icon>add</mat-icon> Thêm
        </button>
      </div>
    </mat-card>
  </form>
  <div style="margin:0 auto;text-align: center;">
    <button mat-raised-button class="btn btn-outline-danger" (click)="delete(sourceView.id)" type="submit"
      *ngIf="!isCreate">
      <mat-icon>delete</mat-icon> Xóa
    </button>
    <button mat-raised-button class="btn btn-outline-success" (click)="save()" type="submit" *ngIf="!isCreate">
      <mat-icon>save</mat-icon> Lưu
    </button>
  </div>
</div>
